.flex_container {
  display: flex;
  flex-wrap: nowrap;
  color: black;
  height: 400px;
  width: 400px;
  padding: 140px;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  align-items: center;
  font-size: 35px;

  text-align: center;
  border: none;

  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
  font-style: italic;
}

.row_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  font-size: 20px;
}

.description {
  font-size: 18px;
}

.image {
  width: 700px;
  height: 500px;
}
